%% -*- erlang -*-
{minimum_otp_vsn, "22"}.

{erl_opts, [{src_dirs, [src, intercepts]},
            warnings_as_errors,
            {i, "../riak_cs/apps/riak_cs/include"}]}.

{erl_first_files, ["src/rt_intercept_pt.erl"]}.

{deps, [{getopt, "1.0.2"},
        {jsx, "3.1.0"},
        {meck, "0.9.2"},
        {ibrowse, "4.4.1"},
        {mochiweb, "3.1.1"},
        {webmachine, {git, "https://github.com/TI-Tokyo/webmachine.git", {tag, "1.11.2"}}},
        {riakc, {git, "https://github.com/TI-Tokyo/riak-erlang-client", {tag, "3.0.13-tiot"}}},
        {rcs_common, {git, "https://github.com/TI-Tokyo/rcs_common.git", {tag, "3.0.2"}}},
        {kvc, {git, "https://github.com/etrepum/kvc", {tag, "v1.7.0"}}},
        {erlcloud, "3.7.2"},
        {hackney, "1.18.1"}
       ]}.

{escript_incl_apps, [getopt, riakc, ibrowse, mochiweb, kvc, hackney, meck]}.
{escript_emu_args, "%%! -escript main riak_test_escript +K true +P 10000 -env ERL_MAX_PORTS 10000\n"}.

{post_hooks, [{escriptize, "cp \"$REBAR_BUILD_DIR/bin/riak_test\" ./rcst"}]}.

{profiles, [{test, [{extra_src_dirs, ["tests"]}]}]}.
