%% -*- erlang -*-
{minimum_otp_vsn, "22.0"}.

{cover_enabled, true}.

{edoc_opts, [{preprocess, true}]}.

{erl_opts, [{src_dirs, [src, intercepts]},
            warnings_as_errors,
            debug_info,
            {parse_transform, lager_transform},
            {i, "../riak_cs/apps/riak_cs/include"}]}.

{erl_first_files, ["src/rt_intercept_pt.erl"]}.

{eunit_opts, [verbose]}.

{deps, [
        {lager, ".*", {git, "git://github.com/erlang-lager/lager", {tag, "3.8.0"}}},
        {getopt, ".*", {git, "git://github.com/jcomellas/getopt", {tag, "v0.4"}}},
        {meck, {git, "git://github.com/eproxus/meck.git", {tag, "0.8.13"}}},
        {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", {tag, "3.0.7"}}},
        {rcs_common, {git, "git://github.com/hmmr/rcs_common.git", {tag, "3.0.0"}}},
        {riakhttpc, ".*", {git, "git://github.com/basho/riak-erlang-http-client", {branch, "develop-3.0"}}},
        {kvc, "1.7.0", {git, "https://github.com/etrepum/kvc", {tag, "v1.7.0"}}},
        {erlcloud, ".*", {git, "git://github.com/TI-Tokyo/erlcloud.git", {tag, "0.4.7"}}}
       ]}.

{escript_incl_apps, [goldrush, lager, getopt, riakhttpc, riakc, ibrowse, mochiweb, kvc]}.
{escript_emu_args, "%%! -escript main riak_test_escript +K true +P 10000 -env ERL_MAX_PORTS 10000\n"}.

{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "cp \"$REBAR_BUILD_DIR/bin/riak_test\" ./riak_test"},
              {"win32",
               escriptize,
               "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ riak_test* "
               "/njs /njh /nfl /ndl & exit /b 0"} % silence things
             ]}.

{profiles, [{test, [{extra_src_dirs, ["tests"]}]}]}.
