%% -*- erlang -*-
{ default, [ {rt_harness, rtdev}
           , {rt_max_wait_time, 180000}
           , {rt_retry_delay, 1000}
           ]
}.

{ rtdev_ts, [ {rt_project, "riak"}
            , {rtdev_path, [ {root,     "/home/hmmr/X/titokyo/g/riak_ts"}
                           , {current,  "/home/hmmr/X/titokyo/g/riak_ts"}
                           ]
              }
            ]
}.

{ rtdev, [ {rt_project, "riak"}
         , {rtdev_path, [ {root,     "/home/hmmr/X/titokyo/g/riak"}
                        , {current,  "/home/hmmr/X/titokyo/g/riak"}
                        ]
           }
         ]
}.

{ rtcs_dev, [ {rt_project, "riak_cs"}
            , {rt_deps, [ "/home/hmmr/X/titokyo/g/riak/_build/default/lib"
                        , "/home/hmmr/X/titokyo/g/riak_cs/_build/default/lib"
                        ]
              }
            , {rt_retry_delay, 500}
            , {rt_harness, rtcs_dev}
            , {build_paths, [ {root,               "/home/hmmr/X/titokyo/g/riak"}
                            , {current,            "/home/hmmr/X/titokyo/g/riak"}
                            , {previous,           "/home/hmmr/X/titokyo/g/previous/riak"}
                            , {riak_root,          "/home/hmmr/X/titokyo/g/riak"}
                            , {riak_current,       "/home/hmmr/X/titokyo/g/riak"}
                            , {riak_previous,      "/home/hmmr/X/titokyo/g/previous/riak"}
                            , {cs_root,            "/home/hmmr/X/titokyo/g/riak_cs"}
                            , {cs_current,         "/home/hmmr/X/titokyo/g/riak_cs"}
                            , {cs_previous,        "/home/hmmr/X/titokyo/g/previous/riak_cs"}
                            ]
              }
            , {test_paths, ["/home/hmmr/X/titokyo/g/riak_cs_test/ebin"]}
            , {src_paths, [{cs_src_root, "/home/hmmr/X/titokyo/g/riak_cs/apps/riak_cs"}]}
            , {flavor, basic}
            , {sibling_benchmark, [ {write_concurrency, 8}
                                  , {write_interval, 0}      % msec
                                  , {version, current}
                                    %% , {version, previous}
                                    %% , {leave_and_join, 100} % times
                                    %% , {duration_sec, 1}
                                  , {duration_sec, 30}
                                  ]
              }
            , {backend, {multi_backend, bitcask, eleveldb}}
            %% , {backend, {multi_backend, bitcask, leveled}}
            %% , {backend, leveled}
            , {outdir, "log"}
            ]
}.
